__pycache__/
meteorology_files/csv/*
meteorology_files/docx/*
meteorology_files/html/*
meteorology_files/json/*
meteorology_files/pdf/*
meteorology_files/txt/*
old_code.txt
test_ChatGPT.py
weather_data_url_request.py
.env
*.csv
*.docx
*.html
*.json
*.pdf
*.txt
secrets.toml
index.faiss
index.pkl